---
layout: page.njk
title: Informative images
eleventyNavigation:
  key: Informative images
  parent: Recipe 1.4
---
<img src="/assets/images/karlskirche.jpg" alt="The St. Charles Church (Karlskirche) in
Vienna, a baroque building containing a dome and two columns.">