---
layout: sample.njk
title: aria-label
eleventyNavigation:
  key: aria-label
  parent: Recipe 2.3
date: 2024-01-02
tags:
  - chapters
---
<nav aria-label="Main">
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/products" aria-current="page">Products</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

<nav aria-label="Page">
  <ol>
    <li><a href="#company">Company</a></li>
    <li><a href="#licensing">Licensing</a></li>
    <li><a href="#seealso">See Also</a></li>
    <li><a href="#References">References</a></li>
    <li><a href="#externallinks">External links</a></li>
  </ol>
</nav>