---
layout: sample.njk
title: script
eleventyNavigation:
  key: script
  parent: Recipe 5.2
tags:
  - chapters
---
<style>
@media (scripting: enabled) {
  .disclosure-content {
    display: none;
  }
}
</style>

Hint: Disable JS
<div class="disclosure-content">content</div>