---
layout: sample.njk
title: transparency
eleventyNavigation:
  key: transparency
  parent: Recipe 5.2
tags:
  - chapters
---
<style>
dialog {
  --transparency: 0.6;
  background-color: rgb(4 227 215 / var(--transparency));
  backdrop-filter: blur(5px);
}

@media(prefers-reduced-transparency: reduce) {
  dialog {
    --transparency: 1;
  }
}
</style>

<button onclick="document.querySelector('dialog').showModal()">show modal</button>
<dialog>
  content
</dialog>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex quaerat corporis sint a consequatur accusantium cupiditate nesciunt fuga et illo beatae, ducimus reiciendis placeat dolorum facere ea architecto sequi magnam provident porro. Quisquam magni iste ex aperiam atque doloribus praesentium ipsum quibusdam repellat quod necessitatibus excepturi, obcaecati error eius tempore doloremque at commodi debitis facere. Dolorum assumenda molestiae reprehenderit neque rerum obcaecati pariatur, doloremque dolore eveniet hic! Voluptatum porro ipsum rerum repudiandae ipsam assumenda! Sed necessitatibus odio quis, dolores delectus ad porro quasi! Quo numquam aliquam nobis enim, eius id optio fugiat doloribus asperiores excepturi cupiditate labore hic cumque!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex quaerat corporis sint a consequatur accusantium cupiditate nesciunt fuga et illo beatae, ducimus reiciendis placeat dolorum facere ea architecto sequi magnam provident porro. Quisquam magni iste ex aperiam atque doloribus praesentium ipsum quibusdam repellat quod necessitatibus excepturi, obcaecati error eius tempore doloremque at commodi debitis facere. Dolorum assumenda molestiae reprehenderit neque rerum obcaecati pariatur, doloremque dolore eveniet hic! Voluptatum porro ipsum rerum repudiandae ipsam assumenda! Sed necessitatibus odio quis, dolores delectus ad porro quasi! Quo numquam aliquam nobis enim, eius id optio fugiat doloribus asperiores excepturi cupiditate labore hic cumque!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex quaerat corporis sint a consequatur accusantium cupiditate nesciunt fuga et illo beatae, ducimus reiciendis placeat dolorum facere ea architecto sequi magnam provident porro. Quisquam magni iste ex aperiam atque doloribus praesentium ipsum quibusdam repellat quod necessitatibus excepturi, obcaecati error eius tempore doloremque at commodi debitis facere. Dolorum assumenda molestiae reprehenderit neque rerum obcaecati pariatur, doloremque dolore eveniet hic! Voluptatum porro ipsum rerum repudiandae ipsam assumenda! Sed necessitatibus odio quis, dolores delectus ad porro quasi! Quo numquam aliquam nobis enim, eius id optio fugiat doloribus asperiores excepturi cupiditate labore hic cumque!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex quaerat corporis sint a consequatur accusantium cupiditate nesciunt fuga et illo beatae, ducimus reiciendis placeat dolorum facere ea architecto sequi magnam provident porro. Quisquam magni iste ex aperiam atque doloribus praesentium ipsum quibusdam repellat quod necessitatibus excepturi, obcaecati error eius tempore doloremque at commodi debitis facere. Dolorum assumenda molestiae reprehenderit neque rerum obcaecati pariatur, doloremque dolore eveniet hic! Voluptatum porro ipsum rerum repudiandae ipsam assumenda! Sed necessitatibus odio quis, dolores delectus ad porro quasi! Quo numquam aliquam nobis enim, eius id optio fugiat doloribus asperiores excepturi cupiditate labore hic cumque!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex quaerat corporis sint a consequatur accusantium cupiditate nesciunt fuga et illo beatae, ducimus reiciendis placeat dolorum facere ea architecto sequi magnam provident porro. Quisquam magni iste ex aperiam atque doloribus praesentium ipsum quibusdam repellat quod necessitatibus excepturi, obcaecati error eius tempore doloremque at commodi debitis facere. Dolorum assumenda molestiae reprehenderit neque rerum obcaecati pariatur, doloremque dolore eveniet hic! Voluptatum porro ipsum rerum repudiandae ipsam assumenda! Sed necessitatibus odio quis, dolores delectus ad porro quasi! Quo numquam aliquam nobis enim, eius id optio fugiat doloribus asperiores excepturi cupiditate labore hic cumque!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex quaerat corporis sint a consequatur accusantium cupiditate nesciunt fuga et illo beatae, ducimus reiciendis placeat dolorum facere ea architecto sequi magnam provident porro. Quisquam magni iste ex aperiam atque doloribus praesentium ipsum quibusdam repellat quod necessitatibus excepturi, obcaecati error eius tempore doloremque at commodi debitis facere. Dolorum assumenda molestiae reprehenderit neque rerum obcaecati pariatur, doloremque dolore eveniet hic! Voluptatum porro ipsum rerum repudiandae ipsam assumenda! Sed necessitatibus odio quis, dolores delectus ad porro quasi! Quo numquam aliquam nobis enim, eius id optio fugiat doloribus asperiores excepturi cupiditate labore hic cumque!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex quaerat corporis sint a consequatur accusantium cupiditate nesciunt fuga et illo beatae, ducimus reiciendis placeat dolorum facere ea architecto sequi magnam provident porro. Quisquam magni iste ex aperiam atque doloribus praesentium ipsum quibusdam repellat quod necessitatibus excepturi, obcaecati error eius tempore doloremque at commodi debitis facere. Dolorum assumenda molestiae reprehenderit neque rerum obcaecati pariatur, doloremque dolore eveniet hic! Voluptatum porro ipsum rerum repudiandae ipsam assumenda! Sed necessitatibus odio quis, dolores delectus ad porro quasi! Quo numquam aliquam nobis enim, eius id optio fugiat doloribus asperiores excepturi cupiditate labore hic cumque!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex quaerat corporis sint a consequatur accusantium cupiditate nesciunt fuga et illo beatae, ducimus reiciendis placeat dolorum facere ea architecto sequi magnam provident porro. Quisquam magni iste ex aperiam atque doloribus praesentium ipsum quibusdam repellat quod necessitatibus excepturi, obcaecati error eius tempore doloremque at commodi debitis facere. Dolorum assumenda molestiae reprehenderit neque rerum obcaecati pariatur, doloremque dolore eveniet hic! Voluptatum porro ipsum rerum repudiandae ipsam assumenda! Sed necessitatibus odio quis, dolores delectus ad porro quasi! Quo numquam aliquam nobis enim, eius id optio fugiat doloribus asperiores excepturi cupiditate labore hic cumque!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex quaerat corporis sint a consequatur accusantium cupiditate nesciunt fuga et illo beatae, ducimus reiciendis placeat dolorum facere ea architecto sequi magnam provident porro. Quisquam magni iste ex aperiam atque doloribus praesentium ipsum quibusdam repellat quod necessitatibus excepturi, obcaecati error eius tempore doloremque at commodi debitis facere. Dolorum assumenda molestiae reprehenderit neque rerum obcaecati pariatur, doloremque dolore eveniet hic! Voluptatum porro ipsum rerum repudiandae ipsam assumenda! Sed necessitatibus odio quis, dolores delectus ad porro quasi! Quo numquam aliquam nobis enim, eius id optio fugiat doloribus asperiores excepturi cupiditate labore hic cumque!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex quaerat corporis sint a consequatur accusantium cupiditate nesciunt fuga et illo beatae, ducimus reiciendis placeat dolorum facere ea architecto sequi magnam provident porro. Quisquam magni iste ex aperiam atque doloribus praesentium ipsum quibusdam repellat quod necessitatibus excepturi, obcaecati error eius tempore doloremque at commodi debitis facere. Dolorum assumenda molestiae reprehenderit neque rerum obcaecati pariatur, doloremque dolore eveniet hic! Voluptatum porro ipsum rerum repudiandae ipsam assumenda! Sed necessitatibus odio quis, dolores delectus ad porro quasi! Quo numquam aliquam nobis enim, eius id optio fugiat doloribus asperiores excepturi cupiditate labore hic cumque!</p>
