---
layout: page.njk
title: Button in a form
eleventyNavigation:
  key: Button in a form
  parent: Recipe 2.1
---
<form>
  <label for="email">E-mail address</label>
  <input type="email" id="email" name="email">

  <button>Sign up</button>
</form>