---
layout: page.njk
title: Simple Nav
eleventyNavigation:
  key: Simple Nav
  parent: Recipe 4.1
---
<style>
  nav a {
    display: inline-block;	
    font-size: 1.4rem;
    padding: 0.2rem;
  }

  a:focus-visible {
    outline: 4px solid currentColor;
    outline-offset: 2px;
  }
</style>

<a href="/home">Home</a>
<a href="/products" aria-current="page">Products</a>
<a href="/team">Team</a>
<a href="/contact">Contact</a>