---
layout: sample.njk
title: Details element
eleventyNavigation:
  key: Details element
  parent: Recipe 8.2
tags:
  - chapters
---
<details>
  <summary>Show details</summary>
  
  <p>Detailed content goes here…</p>
</details>

<details open>
  <summary>Show details</summary>
  
  <p>Detailed content goes here…</p>
</details>