---
title: Recipe 8.2
eleventyNavigation:
  key: Recipe 8.2
  parent: Chapter 8
  title: Recipe 8.2 Create a native disclosure widget
layout: recipe.njk
date: 2024-01-02
class: 'list'
tags:
  - chapters
---