---
title: Recipe 7.3
eleventyNavigation:
  key: Recipe 7.3
  parent: Chapter 7
  title: Recipe 7.3 Announce the number of items
layout: recipe.njk
date: 2024-01-03
class: 'list'
tags:
  - chapters
---