---
layout: page.njk
title: Quotes
eleventyNavigation:
  key: Quotes
  parent: Recipe 10.1
---
<p lang="en">
  <q>A quote in English.</q>
</p>

<p lang="de">
  <q>Ein Zitat auf Deutsch.</q>
</p>

<p lang="fr">
  <q>Une citation en français.</q>
</p>