---
layout: sample.njk
title: Links
eleventyNavigation:
  key: Links
  parent: Recipe 3.1
tags:
  - chapters
---
<p>
  <!-- Link to an external site -->
  <a href="https://www.oreilly.com/products/books-videos.html">
    O'Reilly books and videos
  </a>
</p>

<p>
  <!-- Link to an internal page -->
  <a href="/blog">
    Blog
  </a>
</p>

<p>
  <!-- Link to an e-mail address -->
  <a href="mailto:support@johannastoys.com">
    support@johannastoys.com
  </a>
</p>

<p>
  <!-- Link to a telephone number -->
  <a href="tel:+17078277019">
    (707) 827-7019
  </a>
</p>

<p>
  <!-- Link to an anchor within the page -->
  <a href="#content">
    Skip to content
  </a>
</p>
