---
title: Recipe 3.8
eleventyNavigation:
  key: Recipe 3.8
  parent: Chapter 3
  title: Recipe 3.8 Add links to groups of elements
layout: recipe.njk
class: 'list'
date: 2024-01-08
tags:
  - chapters
---