---
layout: cookbook.njk
title: The Web Accessibility Cookbook
eleventyNavigation:
  key: Home
tags:
  - pages
---

{# 
TODO: 

* Formate: Epub, PDF, print, and on the O'Reilly Learning Platform (HTML).
* Local book store zuerst
* float img
* About besser strukturieren
* accessible wenn nicht kontaktieren

#}
<header class="home-header">
  <picture class="dog-home">
    <source srcset="/images/dog_dark.webp" media="(prefers-color-scheme: dark)"></source>
    <img src="/images/dog.webp" alt="A Nova Scotia Duck Tolling Retriever. A friendly, athletic dog with a fur in shades of red." width="500" >
  </picture>

  <hgroup>
    <h1>Web Accessibility Cookbook</h1>
    <p>Creating Inclusive Experiences</p>
  </hgroup>
</header>

<section>
  <p>
    The <strong>Web Accessibility Cookbook</strong> provides you with dozens of recipes to help you build common components on the web, such as navigations, forms, filters, tables, and dialogs, in an accessible manner. Each recipe not only explains how to build things but also why. <br> 
  </p>
  <p>
    Author <a href="https://matuzo.at/about-me">Manuel Matuzovic</a> provides the knowledge you need to create accessible web pages, patterns, and components and address your users' varying needs, abilities, and preferences.
  </p>

  <blockquote>
    If the question is <em>“What do I need to know about accessibility on the web?”</em> the answer is <strong>Manuel’s Web Accessibility Cookbook</strong>. This book gets straight into the code. I particularly like the problem / solution / discussion structure. The problems are laid out succinctly, and I appreciate being told why I should care before we get into the details of solving things with code.
  </blockquote>
  <p>
    <img src="/images/avatar_chris.jpeg" alt="" width="55">
    <span>
      <strong>Chris Coyier</strong>
      CodePen, ShopTalk
    </span>
  </p>

</section>

<section>
  <h2>Pre-order it now!</h2>
  
  <p>The Web Accessibility Cookbook will be available as an ebook by the end of June 2024 and at your local bookstores in July.</p>


  <div class="p-stack p-stack-m p-gap-xl">
    <a href="https://www.oreilly.com/library/view/web-accessibility-cookbook/9781098145590/?_gl=1*woqlsd*_ga*MTQ5OTIzNzUxNi4xNjc0ODAwODc2*_ga_092EL089CH*MTcxNjI2ODY3MC4xMS4xLjE3MTYyNjg2OTMuMzUuMC4w">
      <img src="/images/book.jpg" alt="The Web Accessibility Cookbook on oreilly.com" width="230" class="cover">
    </a>

    <div>
      <p>You can also pre-order it online at one of the following stores or wherever you get your books.</p>

      <ul class="stores">
        <li>
          <a href="https://www.oreilly.com/library/view/web-accessibility-cookbook/9781098145590/?_gl=1*1kv0vn4*_ga*MTQ5OTIzNzUxNi4xNjc0ODAwODc2*_ga_092EL089CH*MTcxNDcxNDMwMS42LjEuMTcxNDcxNjQ0NS41My4wLjA.">
            O'Reilly Learning
          </a>
        </li>

        <li>
          <a href="https://www.jpc.de/jpcng/books/detail/-/art/manuel-matuzovic-web-accessibility-cookbook/hnum/11780178">
            jpc
          </a>
        </li>

        <li>
          <a href="https://www.barnesandnoble.com/w/web-accessibility-cookbook-manuel-matuzovic/1144940470?ean=9781098145606">
            Barnes & Noble
          </a>
        </li>

        <li>
          <a href="https://www.amazon.com/Web-Accessibility-Cookbook-Inclusive-Experiences/dp/1098145607/ref=sr_1_1?crid=2S2E72UXWNZQ4&dib=eyJ2IjoiMSJ9.l0YUfB849eOxWv1LK7lGme_Qi7qYK9EqPyLT1WkLrLx-WHkDdu1zq0JRWrWpNVWYxLDfIB0wi7tx-IUoMXXX-YIY4JpjZ72ft_eyQWCEjSqgRgOw3b6claGOKxGvaKYkPCtoKmV59n4daAqR8f2OPXg-cVokxrvab_DrH8fHzU7w17RBjP9b4m_1w-hawB4d61vJRScIsI4k0MtXBAUwh4cXkDDHYC0jZIkDgTSz6RA.f7AGtDlYm_nhLi3YjU62QDJDDRqKn6tAMvbLyGuywXo&dib_tag=se&keywords=accessibility+cookbook&qid=1714971220&sprefix=accessibility+cookbook%2Caps%2C506&sr=8-1">
            Amazon US
          </a>
        </li>
        <li>
          <a href="https://www.amazon.de/-/en/Manuel-Matuzovic/dp/1098145607/ref=sr_1_1?crid=1I4EM0UOKM12P&dib=eyJ2IjoiMSJ9.o0dUXROTBeR_duvLiBe5eQ9tB2Oy-_WrQHnNNSn84L-lcH1rF3DwP8LZmmqHHpEGiRQhjfmHqtZP7ChDhaiUyVPlz2v2pSH0gCOJvwTcbLMtgodXAZ39RigFdvQcfzmtTVujOPHvkVlYSiqS5hb_GFMBAK-wBFjzzXJFEgTvunIo63ixNdupKVck9HywNcAKd7ZzfMTvYJMhGjnpkZ-8dRKSefzeKYK_zRD-irapFvc.FgWlTv72WCfC2qtim2O1kAseAYPOe-BWAdR3oZfjzUM&dib_tag=se&keywords=accessibility+cookbook&qid=1714970958&sprefix=accessibility+cookbook%2Caps%2C279&sr=8-1">
            Amazon DE/AT
          </a>
        </li>
        <li>
          <a href="https://www.amazon.co.uk/Web-Accessibility-Cookbook-Inclusive-Experiences/dp/1098145607/ref=sr_1_1?dib=eyJ2IjoiMSJ9.o0dUXROTBeR_duvLiBe5eVcbXBac6NASsIrLsqpzMIJCHGDx652FYjWLud5NhOUMYIU_Mq6DeeUcykByRy4jFXzC4_LPMExhq7HeyPsnhGUj7jFueof6HGDsSBW2QDz7QmjwmrE2hynw0LNVfuUa8GZeX_rdyYj5r8JnQz3z2bIzCY4TXp8ewWUEx9tLz6NO1jpdeWOkWQWu3bNEu6dmg_GvAZfUoduIecZFdvt-IK4.F7lbstGapyGe4bPFJI-tMQbYie4oX1TMo-33SUm3AWc&dib_tag=se&keywords=accessibility+cookbook&qid=1714971260&sr=8-1">
            Amazon UK
          </a>
        </li>
        <li>
          <a href="https://www.amazon.nl/Web-Accessibility-Cookbook-Inclusive-Experiences/dp/1098145607/ref=sr_1_1?dib=eyJ2IjoiMSJ9.q-fF2lu5XDZKk5lUR876gXbddKdIXWnUC7IfNqwYOAwCINfNUKErVysE3oo8NDcIJptQN2wEKrTpINW-nPb_mK-aDUbXFrD3KEpSogTX9p1FIxc_BHbQlRRTQRQITOriVjbcve0FHW9pxiobea7N-zYSmEQo4o33sQsqcHmlME_VjHyw-IUGNKSDFMJw6LCqnUl_53URk97_n09_TtcvCsWnOU2ieu2rS4CysHiauRKopFlARTIe3WxHePtkA85EFbVXTDU9LgLkLf9zOvxEdU-uvcLGog8lte0YDFJb6R8.0fCPS2YS0uT1ikuNyDrp-zAXigitayfr0FSw8oJU9bU&dib_tag=se&keywords=accessibility+cookbook&qid=1716800702&sr=8-1">
            Amazon NL
          </a>
        </li>
        <li>
          <a href="https://www.thalia.at/shop/home/suggestartikel/A1071171287?sq=Web%20Accessibility%20Cookbook&stype=productName">
            Thalia
          </a>
        </li>
        <li>
          <a href="https://www.weltbild.at/artikel/buch/web-accessibility-cookbook_43734418-1">
            Weltbild
          </a>
        </li>
      </ul>
    </div>
  </div>

  <blockquote>
    Manuel's <em>Accessibility Cookbook</em> helps demystify web accessibility through practical recipes for developers of all levels. Bridging coding and human-centered design, it fosters inclusiveness in every project — a must-read for those committed to digital accessibility and building a more equitable world.
  </blockquote>
  <p>
    <img src="/images/avatar_carie.jpeg" alt="" width="55">
    <span>
      <strong>Carie Fisher</strong>
      Senior Accessibility Program Manager, GitHub
    </span>
  </p>
</section>

<section class="clearfix">
  <h2>About the author</h2>

  <img src="/images/manuel-matuzovic.jpeg" alt="" width="225" class="portrait">

  <p>Manuel Matuzović is a frontend developer and accessibility auditor with over 15 years of experience specializing in HTML and CSS. He enhances web accessibility and shares his knowledge globally through blogs, meetups, and conferences.</p>

  <a href="https://matuzo.at">Manuel's website</a>
  <a href="https://matuzo.social">Manuel on Social Media</a>
  
</section>

<section>
  <h2>Table of contents</h2>

  <p>
    The Web Accessibility Cookbook consists of 13 chapters and 73 recipes. Each chapter stands on its own. You can read it from start to finish or jump directly into a specific topic. 
  </p>

  <ol class="p-columns-m">
    <li><a href="/about-the-book/#chapter1">Structuring Documents</a></li>
    <li><a href="/about-the-book/#chapter2">Structuring Pages</a></li>
    <li><a href="/about-the-book/#chapter3">Linking Content</a></li>
    <li><a href="/about-the-book/#chapter4">Performing Actions</a></li>
    <li><a href="/about-the-book/#chapter5">Styling content</a></li>
    <li><a href="/about-the-book/#chapter6">Managing Focus</a></li>
    <li><a href="/about-the-book/#chapter7">Navigating Sites</a></li>
    <li><a href="/about-the-book/#chapter8">Toggling Content Visibility</a></li>
    <li><a href="/about-the-book/#chapter9">Constructing Forms</a></li>
    <li><a href="/about-the-book/#chapter10">Filtering Data</a></li>
    <li><a href="/about-the-book/#chapter11">Presenting Tabular Data</a></li>
    <li><a href="/about-the-book/#chapter12">Creating custom elements</a></li>
    <li><a href="/about-the-book/#chapter13">Debugging Barriers</a></li>
  </ol>

  <p>
    <strong>
      <a href="/about-the-book">
        Learn more about the book
      </a>
    </strong>
  </p>

  <blockquote>
    I wish I’d had this book when I got started in accessibility. To build accessible websites, you need to understand how people use the web and get the implementation details right. This book combines the two with focused, hands-on advice. It is the perfect companion to formal accessibility standards.
  </blockquote>
  <p>
    <img src="/images/avatar_hidde.jpeg" alt="" width="55">
    <span>
      <strong>Hidde de Vries</strong>
      Freelance Accessibility Specialist
    </span>
  </p>

</section>