---
layout: sample.njk
title: Light DOM
eleventyNavigation:
  key: Light DOM
  parent: Recipe 12.2
tags:
  - chapters
---
<label for="date">Birthday</label>
<input type="date" id="date" aria-describedby="hint">
<the-hint>
  <p id="hint">
    Format: DD.MM.YYYY
  </p>
</the-hint>