---
title: Recipe 12.2
eleventyNavigation:
  key: Recipe 12.2
  parent: Chapter 12
  title: Recipe 12.2 Creating ARIA references
layout: recipe.njk
date: 2024-01-02
class: 'list'
tags:
  - chapters
---