---
title: Recipe 6.6
eleventyNavigation:
  key: Recipe 6.6
  parent: Chapter 6
  title: Recipe 6.6 Allow users to skip elements
layout: recipe.njk
date: 2024-01-06
class: 'list'
tags:
  - chapters
---