---
layout: page.njk
title: Manual reset
eleventyNavigation:
  key: Manual reset
  parent: Recipe 2.3
---
<style>
  button {
    background: none;
    border: none;
    font-family: inherit;
    padding: 0;
  }
</style>

<button type="button">
  Download
</button>