---
layout: page.njk
title: "all: initial"
eleventyNavigation:
  key: "all: initial"
  parent: Recipe 2.3
---
<style>
  button {
    all: initial;
  }

  button:focus-visible {
    outline: 3px solid;
    outline-offset: 3px;
  }
</style>

<button type="button">
  Download
</button>