---
layout: page.njk
title: Details element
eleventyNavigation:
  key: Details element
  parent: Recipe 9.2
---
<details>
  <summary>Show details</summary>
  
  <p>Detailed content goes here…</p>
</details>

<details open>
  <summary>Show details</summary>
  
  <p>Detailed content goes here…</p>
</details>