---
layout: page.njk
title: Details element event
eleventyNavigation:
  key: Details element event
  parent: Recipe 9.2
---
Opened: <span>false</span>

<details>
  <summary>Show details</summary>
  
  <p>Detailed content goes here…</p>
</details>

<script>
  const details = document.querySelector('details')

  details.addEventListener('toggle', e => {
    document.querySelector('span').textContent = details.open
  })
</script>