---
layout: sample.njk
title: Breadcrumb Navigation
eleventyNavigation:
  key: Breadcrumb Navigation
  parent: Recipe 2.1
tags:
  - chapters
---
<nav aria-label="Breadcrumb">
  <ol>
    <li><a href="/products/">Products</a></li>
    <li><a href="/products/kitchen/">Kitchen & appliances</a></li>
    <li><a href="/products/kitchen/worktops" aria-current="page">Kitchen worktops</a></li>
  </ol>
</nav>