---
title: Recipe 2.1
eleventyNavigation:
  key: Recipe 2.1
  parent: Chapter 2
  title: Recipe 2.1 Create navigation landmarks
layout: recipe.njk
date: 2024-01-01
class: 'list'
tags:
  - chapters
---