---
title: Recipe 7.5
eleventyNavigation:
  key: Recipe 7.5
  parent: Chapter 7
  title: Recipe 7.5 Hide the navigation on narrow viewports
layout: recipe.njk
date: 2024-01-05
class: 'list'
tags:
  - chapters
---