---
layout: sample.njk
title: Explicit label
eleventyNavigation:
  key: Explicit label
  parent: Recipe 9.2
tags:
  - chapters
---
<label for="username">Username</label>
<input type="text" id="username" autocomplete="username">