---
layout: sample.njk
title: Implicit label
eleventyNavigation:
  key: Implicit label
  parent: Recipe 9.2
tags:
  - chapters
---
<label>
  Username
  <input type="text" autocomplete="username">
</label>