---
layout: sample.njk
title: Document structure
eleventyNavigation:
  key: Document structure
  parent: Recipe 1.5
tags:
  - chapters
codeOnly: true
---
<header>
  <a href="/">
    Johanna’s Toy Store
  </a>

  <nav aria-label="Main">
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="/products" aria-current="page">Products</a>
      </li>
      <li>
        <a href="/team">Team</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>

  <form role="search">
    <label for="search">Search</label>
    <input type="text" id="search">
  </form>
</header>

<main id="content">
  <h1>All products</h1>

</main>

<footer>
  &copy; 2024
</footer>