---
layout: sample.njk
title: Title element
eleventyNavigation:
  key: Title element
  parent: Recipe 1.2
tags:
  - chapters
codeOnly: true
---
<title>Products - Johanna's Toy Store</title>
<meta property="og:title" content="Find dolls, toy cars, and more in Johanna's Toy Store">