---
layout: sample.njk
title: Button in a form
eleventyNavigation:
  key: Button in a form
  parent: Recipe 4.1
tags:
  - chapters
---
<form>
  <label for="email">E-mail address</label>
  <input type="email" id="email" name="email">

  <button>Sign up</button>
</form>