---
layout: sample.njk
title: Labelled region landmark
eleventyNavigation:
  key: Labelled region landmark
  parent: Recipe 2.4
tags:
  - chapters
---
<h1>
  &lt;article&gt; vs. &lt;section&gt;: How To Choose The Right One
</h1>

<div role="region" aria-labelledby="summary">
  <h2 id="summary">
    Quick summary
  </h2>
  <p>
    In this article, Olushuyi explores a mental model that helps you decide between
    the <code>&lt;article&gt;</code> and <code>&lt;section&gt;</code> elements when
    writing documents. You will explore how grouping content affects accessibility
    and how you can make it all count for users.
  </p>
</div>