---
layout: sample.njk
title: Section
eleventyNavigation:
  key: Section
  parent: Recipe 2.4
tags:
  - chapters
---
<h1>The Agency</h1>

<section>
  <h2>Latest News</h2>
</section>

<section>
  <h2>About Us</h2>
</section>

<section>
  <h2>Selected projects</h2>
</section>