---
layout: sample.njk
title: Labelled section
eleventyNavigation:
  key: Labelled section
  parent: Recipe 2.4
tags:
  - chapters
codeOnly: true
---
<section aria-label="Product Search">
  <!-- Search form/filters -->
  <!-- Search results -->
</section>