---
layout: page.njk
title: aria-labelledby
eleventyNavigation:
  key: aria-labelledby
  parent: Recipe 11.3
---
<nav aria-labelledby="pagination_heading">
  <h2 id="pagination_heading">Select a page</h2>
  …
</nav>