---
layout: page.njk
title: CSS
eleventyNavigation:
  key: CSS
  parent: Recipe 1.5
---
<a href="https://www.mxb.dev" target="_blank">
 Max Böck’s website.
</a>

<style>
[target^="_"]::after {
 content: " (opens in new tab/window)";
}
</style>