---
title: Recipe 2.5
eleventyNavigation:
  key: Recipe 2.5
  parent: Chapter 2
  title: Recipe 2.5 Create a sound document outline
layout: recipe.njk
date: 2024-01-05
class: 'list'
tags:
  - chapters
---