---
layout: sample.njk
title: Search form
eleventyNavigation:
  key: Search form
  parent: Recipe 2.2
tags:
  - chapters
---
<form role="search">
  <label for="site-search">Search</label>
  <input type="text" id="site-search">
</form>