---
layout: sample.njk
title: Search element
eleventyNavigation:
  key: Search element
  parent: Recipe 2.2
tags:
  - chapters
---
<search role="search">
  <form>
    <label for="site-search">Search</label>
    <input type="text" id="site-search">
  </form>
</search>