---
layout: sample.njk
title: Login form
eleventyNavigation:
  key: Login form
  parent: Recipe 2.2
tags:
  - chapters
---
<form role="form" aria-labelledby="heading_login">
  <h2 id="heading_login">Login</h2>

  <div>
    <label for="username">Username</label>
    <input type="text" id="username" autocomplete="username">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" autocomplete="password">
  </div>
</form>