---
layout: sample.njk
title: Simple Nav
eleventyNavigation:
  key: Simple Nav
  parent: Recipe 7.1
tags:
  - chapters
---
<style>
  .sample a {
    display: inline-block;	
    font-size: 1.4rem;
    padding: 0.2rem;
  }

  .sample a:focus-visible {
    outline: 0.25em solid currentColor;
    outline-offset: 0.125em;
  }
</style>

<a href="/home">Home</a>
<a href="/products" aria-current="page">Products</a>
<a href="/team">Team</a>
<a href="/contact">Contact</a>