---
layout: sample.njk
title: A heading
eleventyNavigation:
  key: A heading
  parent: Recipe 11.2
tags:
  - chapters
---
<h2>Scores Group A</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Michael</td>
      <td>27</td>
    </tr>
    <tr>
      <td>Robert</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Dominik</td>
      <td>19</td>
    </tr>
    <tr>
      <td>David</td>
      <td>21</td>
    </tr>
    <tr>
      <td>Markus</td>
      <td>14</td>
    </tr>
    <tr>
      <td>Paul</td>
      <td>42</td>
    </tr>
  </tbody>
</table>