---
layout: sample.njk
title: Scope
eleventyNavigation:
  key: Scope
  parent: Recipe 11.2
tags:
  - chapters
---
<table>
  <caption>Total scores Group A</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Michael</th>
      <td>47</td>
      <td>28</td>
      <td>91</td>
      <td>65</td>
    </tr>
    <tr>
      <th>Robert</th>
      <td>97</td>
      <td>13</td>
      <td>42</td>
      <td>61</td>
    </tr>
    <tr>
      <th>Dominik</th>
      <td>29</td>
      <td>28</td>
      <td>19</td>
      <td>57</td>
    </tr>
    <tr>
      <th>David</th>
      <td>61</td>
      <td>11</td>
      <td>29</td>
      <td>59</td>
    </tr>
    <tr>
      <th>Markus</th>
      <td>72</td>
      <td>70</td>
      <td>73</td>
      <td>44</td>
    </tr>
    <tr>
      <th>Paul</th>
      <td>122</td>
      <td>100</td>
      <td>87</td>
      <td>69</td>
    </tr>
  </tbody>
</table>