---
layout: sample.njk
title: Image button
eleventyNavigation:
  key: Image button
  parent: Recipe 4.2
tags:
  - chapters  
---
<button type="button">
  <img src="/images/demos/download.svg" alt="Download" width="26">
</button>