---
layout: sample.njk
title: Button with aria-label
eleventyNavigation:
  key: Button with aria-label
  parent: Recipe 4.2
tags:
  - chapters
---
<button type="button" aria-label="Save">
  <svg aria-hidden="true" viewBox="0 0 39 44" width="26">
    <path d="M19.5 36.5 1.6 26.1v-3.6l16.3 9.4V1.5h3.2v30.4l16.3-9.4v3.6z"/>
    <path d="M1 41.5h37" style="stroke:#000;stroke-width:3;"/>
  </svg>
</button>