---
layout: sample.njk
title: Complex input
eleventyNavigation:
  key: Complex input
  parent: Recipe 13.3
tags:
  - chapters
---
<h2 id="headin">Who are you?</h2>
<label for="username" style="display: none">Username</label>
<input type="text" id="username" aria-labelledby="heading" required aria-invalid="true">