---
title: Recipe 13.3
eleventyNavigation:
  key: Recipe 13.3
  parent: Chapter 13
  title: Recipe 13.3 Debug roles, names, properties, and states
layout: recipe.njk
date: 2024-01-03
class: 'list'
tags:
  - chapters
---