---
layout: sample.njk
title: E-Mail links
eleventyNavigation:
  key: E-Mail links
  parent: Recipe 3.4
tags:
  - chapters
---
<h2>A link to an e-mail address</h2>
<p>
  <a href="mailto:support@johannastoys.com">
    support@johannastoys.com
  </a>
</p>

<h2>A link to multiple addresses</h2>

<p>
  <a href="mailto: manuel@matuzo.at, office@matuzo.at">
    manuel@matuzo.at and office@matuzo.at
  </a>
</p>

<h2>Subject prefilled</h2>

<p>
  <a href="mailto:support@johannastoys.com?subject=Support">
    support@johannastoys.com
  </a>
</p>

<h2>Body prefilled</h2>

<p>
  <a href="mailto:support@johannastoys.com?body=Message">
    support@johannastoys.com
  </a>
</p>

<h2>Subject and body prefilled</h2>

<p>
  <a href="mailto:support@johannastoys.com?subject=Support%20enquiry%20%23123
  &body=Customer%20number%3A%20068303">
    support@johannastoys.com
  </a>
</p>