---
title: Recipe 13.1
eleventyNavigation:
  key: Recipe 13.1
  parent: Chapter 13
  title: Recipe 13.1 Find accessibility issues automatically
layout: recipe.njk
date: 2024-01-01
class: 'list'
tags:
  - chapters
---