---
layout: sample.njk
title: pixel values
eleventyNavigation:
  key: pixel values
  parent: Recipe 5.3
tags:
  - chapters
---

<style>
  body .sample {
    font-size: 14px;
    line-height: 21px;
  }

  .sample p {
    max-width: 400px;
  }
</style>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam repellat accusamus optio omnis? Ipsum minima iste corrupti modi voluptas veniam sint optio deserunt non, quisquam magni ipsam et, dolores earum!
</p>