---
layout: sample.njk
title: rem values
eleventyNavigation:
  key: rem values
  parent: Recipe 5.3
tags:
  - chapters
---

<style>
  body .sample {
    font-size: 0.875rem;
    line-height: 1.5;
  }

  .sample p {
    max-width: 25rem;
  }

</style>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam repellat accusamus optio omnis? Ipsum minima iste corrupti modi voluptas veniam sint optio deserunt non, quisquam magni ipsam et, dolores earum!
</p>