---
layout: sample.njk
title: the ch unit
eleventyNavigation:
  key: the ch unit
  parent: Recipe 5.3
tags:
  - chapters
---

<style>
  .sample p {
    max-width: 60ch;
  }
</style>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam atque voluptate recusandae? Delectus officia nemo non voluptates velit fugiat, doloremque quam. Enim illum alias quis voluptatum, numquam nulla accusantium laboriosam!</p>