---
layout: page.njk
title: Form
eleventyNavigation:
  key: Form
  parent: Recipe 7.1
---

<style>
  strong {
    display: block;
  }
</style>

<h1>Records</h1>

<h2>Filter</h2>

<form role="form" aria-label="Filter" id="filter">
	<label for="artist">Artist</label>
	<select id="artist" name="artist">
		<option value="">All</option>
		<option value="afi">AFI</option>
		<option>Absolute Beginner</option>
		<option>Akne Kid Joe</option>
		<option>Bad Religion</option>
		<option>Beastie Boys</option>
		<option>Bilderbuch</option>
		<option>Billy Joel</option>
		<option>Bring me the Horizon</option>
		<option>Dead Kennedys</option>
		<option>Dendemann</option>
		<option>Der Nino aus Wien</option>
		<option>Dog Eat Dog</option>
		<option>Dr. Dre</option>
		<option>Eater</option>
		<option>Idles</option>
		<option>Minutemen</option>
		<option>PUP</option>
		<option>Rancid</option>
		<option>The Eradicator</option>
		<option>The Menzingers</option>
	</select>

	<fieldset>
		<legend>Country</legend>

    <input type="checkbox" name="country" id="country_at" value="at">
    <label for="country_at">Austria</label>

    <input type="checkbox" name="country" id="country_ca" value="ca">
    <label for="country_ca">Canada</label>

    <input type="checkbox" name="country" id="country_us" value="us">
    <label for="country_us">USA</label>

    <input type="checkbox" name="country" id="country_de" value="de">
    <label for="country_de">Germany</label>

    <input type="checkbox" name="country" id="country_uk" value="uk">
    <label for="country_uk">United Kingdom</label>
	</fieldset>

	<fieldset>
		<legend>Shipping</legend>

    <input type="radio" name="shipping" id="shipping_eu" value="eu">
    <label for="shipping_eu">Europe</label>

    <input type="radio" name="shipping" id="shipping_world" value="worldwide">
    <label for="shipping_world">Worldwide</label>

    <input type="radio" name="shipping" id="shipping_us" value="us">
    <label for="shipping_us">USA</label>
	</fieldset>

  <button>Search</button>
</form>