---
layout: page.njk
title: Search form
eleventyNavigation:
  key: Search form
  parent: Recipe 11.2
---
<form role="search" aria-label="Site">
  <label for="site-search">Search</label>
  <input type="text" id="site-search">
</form>