---
layout: page.njk
title: Search element
eleventyNavigation:
  key: Search element
  parent: Recipe 11.2
---
<search role="search" aria-label="Site">
  <form>
    <label for="site-search">Search</label>
    <input type="text" id="site-search">
  </form>
</search>