---
layout: page.njk
title: Login form
eleventyNavigation:
  key: Login form
  parent: Recipe 11.2
---
<form role="form" aria-label="Login">
  <label for="username">Username</label>
  <input type="text" id="username">

  <label for="password">Password</label>
  <input type="password" id="password">
</form>