---
layout: page.njk
title: Nested sections
eleventyNavigation:
  key: Nested sections
  parent: Recipe 11.5
---
<h1>Heading Level 1</h1>

<section>
  <h1>Heading Level 2</h1>
  
  <section>
    <h1>Heading Level 3</h1>
    
    <section>
      <h1>Heading Level 4</h1>
      
      <section>
        <h1>Heading Level 5</h1>
        
        <section>
          <h1>Heading Level 6</h1>
        </section>
      </section>
    </section>
  </section>
</section>