---
layout: page.njk
title: Document Outline
eleventyNavigation:
  key: Document Outline
  parent: Recipe 11.5
---
<h1>Johanna's Toy Store</h1>
<h2>Toys</h2>
  <h3>Toys for babies</h3>
  <h3>Toys for kids</h3>
  <h3>Outdoor toys</h3>
<h2>Books</h2>
<h2>Special occasions</h2>
<h2>Contact</h2>
<h2>Payment</h2>