---
layout: sample.njk
title: A simple table
eleventyNavigation:
  key: A simple table
  parent: Recipe 11.1
tags:
  - chapters
---
<table>
  <caption>Scores Group A</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Michael</td>
      <td>27</td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>Robert</td>
      <td>7</td>
      <td>Croatia</td>
    </tr>
    <tr>
      <td>Andreas</td>
      <td>53</td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>Dominik</td>
      <td>19</td>
      <td>Croatia</td>
    </tr>
    <tr>
      <td>David</td>
      <td>21</td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>Heinrich</td>
      <td>12</td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>Markus</td>
      <td>14</td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>Paul</td>
      <td>42</td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>Nicolas</td>
      <td>3</td>
      <td>Spain</td>
    </tr>
  </tbody>
</table>
