---
title: Recipe 11.1
eleventyNavigation:
  key: Recipe 11.1
  parent: Chapter 11
  title: Recipe 11.1 Pick the right elements
layout: recipe.njk
date: 2024-01-01
class: 'list'
tags:
  - chapters
---