---
layout: sample.njk
title: Fieldsets
eleventyNavigation:
  key: Fieldsets
  parent: Recipe 9.5
tags:
  - chapters
---
<fieldset>
  <legend>Do you have pets?</legend>
  <div>
    <input type="radio" id="pets_yes" name="pets">
    <label for="pets_yes">Yes</label>
  </div>

  <div>
    <input type="radio" id="pets_no" name="pets">
    <label for="pets_no">No</label>
  </div>
</fieldset>