---
layout: sample.njk
title: Hidden
eleventyNavigation:
  key: Hidden
  parent: Recipe 8.1
tags:
  - chapters
---
<style>
  .hidden {
    display: none;
  }
</style>

<p>
  I'm visible.
</p>

<p class="hidden">
  I'm not visible.
</p>

<p hidden>
  I'm not visible.
</p>

<p>
  I'm visible.
</p>