---
layout: sample.njk
title: Viewport size
eleventyNavigation:
  key: Viewport size
  parent: Recipe 1.3
tags:
  - chapters
codeOnly: true
---
<meta name="viewport" content="width=device-width, initial-scale=1.0">