---
title: Recipe 10.4
eleventyNavigation:
  key: Recipe 10.4
  parent: Chapter 10
  title: Recipe 10.4 Sort and display results
layout: recipe.njk
date: 2024-01-04
class: "list"
tags:
  - chapters
---
