---
layout: sample.njk
title: Lang attribute
eleventyNavigation:
  key: Lang attribute
  parent: Recipe 1.1
tags:
  - chapters
---
<p>
  The Wind-Up Bird Chronicle (<span lang="ja-Latn">Nejimakidori Kuronikuru</span>) 
  is a novel published in 1994 by Japanese author Haruki Murakami.
</p>