---
layout: sample.njk
title: Lang selector
eleventyNavigation:
  key: Lang selector
  parent: Recipe 1.1
tags:
  - chapters
---
<style>
  .sample p:lang(de) {
    border: 10px solid red;
  }

  .sample p:lang(en) {
    border: 10px solid blue;
  }
</style>

<p lang="de">
  Deutscher Text
</p>

<p lang="en-GB">
  English Text
</p>