---
layout: sample.njk
title: Quotes
eleventyNavigation:
  key: Quotes
  parent: Recipe 1.1
tags:
  - chapters
---
<p lang="en">
  <q>A quote in English.</q>
</p>

<p lang="de">
  <q>Ein Zitat auf Deutsch.</q>
</p>

<p lang="fr">
  <q>Une citation en français.</q>
</p>