---
title: Recipe 1.1
eleventyNavigation:
  key: Recipe 1.1
  parent: Chapter 1
  title: Recipe 1.1 Define the natural language
layout: recipe.njk
date: 2024-01-01
class: 'list'
tags:
  - chapters
---
