---
layout: sample.njk
title: Informative images
eleventyNavigation:
  key: Informative images
  parent: Recipe 3.5
tags:
  - chapters
---
<img src="/images/demos/karlskirche.jpg" alt="The St. Charles Church in
Vienna, a baroque building containing a dome and two columns.">