---
layout: sample.njk
title: HTML
eleventyNavigation:
  key: 3HTML
  title: HTML
  parent: Recipe 3.6
tags:
  - chapters
---
<a href="https://www.mxb.dev" target="_blank">
 Max Böck’s website (opens in new tab).
</a>