---
layout: sample.njk
title: CSS
eleventyNavigation:
  key: 3CSS
  title: CSS
  parent: Recipe 3.6
tags:
  - chapters
---
<a href="https://www.mxb.dev" target="_blank">
 Max Böck’s website.
</a>

<style>
.sample [target="_blank"]::after {
  content: " (opens in new tab)";
}
</style>