---
title: Recipe 3.6
eleventyNavigation:
  key: Recipe 3.6
  parent: Chapter 3
  title: Recipe 3.6 Inform users of changing context
layout: recipe.njk
class: 'list'
date: 2024-01-06
tags:
  - chapters
---