---
layout: page.njk
title: Visually Hidden
eleventyNavigation:
  key: Visually Hidden
  parent: Recipe 9.1
---
<style>
  .visually-hidden:not(:focus) {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
</style>

<button>
  <svg viewBox="0 0 39 44" width="30">
    <path d="M19.5 36.5 1.6 26.1v-3.6l16.3 9.4V1.5h3.2v30.4l16.3-9.4v3.6z">
    <path d="M1 41.5h37" style="fill:none;stroke:#000;stroke-width:3;stroke-miterlimit:10">
  </svg>
  <span class="visually-hidden">Download</span>
</button>