---
layout: page.njk
title: Visibility
eleventyNavigation:
  key: Visibility
  parent: Recipe 9.1
---
<style>
  .hidden {
    visibility: hidden;
  }
</style>

<p>
  I'm visible.
</p>

<p class="hidden">
  I'm not visible.
</p>

<p>
  I'm visible.
</p>