body {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  line-height: 1.6;
  font-size: 1.2rem;
  margin: 1.4rem;
}

a:link {
  color: #3c843f;
}

a:visited {
  color: #234c25;
  text-decoration: none;
}

:focus {
  outline: 2px solid;
  outline-offset: 2px;
}

img, video {
  max-width: 100%;
}

.index {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 64rem;
  gap: 2rem;
}

.index > li > a {
  border-bottom: 2px solid rgb(35 76 37 / 0.5);
  display: block;
  padding: 0.2em 0.6em 0.4em;
  margin-bottom: 0.6em;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.index > li > a:hover {
  text-decoration: underline;
}

.index ol {
  padding-left: 0.6em;
  list-style: none;
}


.index li li + li {
  margin-top: 0.2em;
}

.index ol a {
  display: block;
}

.index ol a:hover {
  text-decoration: none;
}