---
title: Recipe 12.3
eleventyNavigation:
  key: Recipe 12.3
  parent: Chapter 12
  title: Recipe 12.3 Focus elements in Shadow DOM
layout: recipe.njk
date: 2024-01-03
class: 'list'
tags:
  - chapters
---