---
layout: sample.njk
title: Focus
eleventyNavigation:
  key: Focus
  parent: Recipe 6.1
tags:
  - chapters
---
<style>
.sample :focus {
  outline: 0.25em solid;
  outline-offset: 0.25em;
}
</style>

<button>Button 1</button>
<button>Button 2</button>
<button>Button 3</button>
<button>Button 4</button>
<button>Button 5</button>