---
layout: sample.njk
title: "Bad practice: No focus styles"
eleventyNavigation:
  key: No focus styles
  parent: Recipe 6.1
tags:
  - chapters
---
<style>
  .sample :focus {
    outline: none !important;
  }
</style>

<button>Button 1</button>
<button>Button 2</button>
<button>Button 3</button>
<button>Button 4</button>
<button>Button 5</button>