---
layout: sample.njk
title: Example Code
eleventyNavigation:
  key: Example Code
  parent: Recipe 13.2
tags:
  - chapters
---
<article>
  <h2>About</h2>
  <button aria-expanded="true">Details</button>
  <a href="#" aria-current="page">Website</a>
</article>