---
title: Recipe 13.2
eleventyNavigation:
  key: Recipe 13.2
  parent: Chapter 13
  title: Recipe 13.2 Explore the accessibility tree
layout: recipe.njk
date: 2024-01-02
class: 'list'
tags:
  - chapters
---