---
layout: sample.njk
title: HTML
eleventyNavigation:
  key: HTML
  parent: Recipe 5.5
tags:
  - chapters
---
<picture>
  <source srcset="/images/demos/boy.jpg" media="(prefers-reduced-motion: reduce)" />
  <img src="/images/demos/boy.gif" alt="A boy looking at a computer and showing thumbs up." />
</picture>