{% set navPages = collections.all | eleventyNavigation(eleventyNavigation.key) %}

<ol>
  {% for page in navPages %}
  <li>
    <a href="{{ page.url }}">
      {{ page.title }}
    </a>

    {% if page.children %}
      <ol>
      {% for child in page.children %}
        <li>
          <a href="{{ child.url }}">
            {{ child.title }}
          </a>
        </li>
      {% endfor %}
      </ol>
    {% endif %}
  </li>
  {% endfor %}
</ol>