---
layout: page.njk
title: Breadcrumb Navigation
eleventyNavigation:
  key: Breadcrumb Navigation
  parent: Recipe 11.1
---
<nav aria-label="Breadcrumb">
  <ol>
    <li><a href="/products/">Products</a></li>
    <li><a href="/products/kitchen/">Kitchen & appliances</a></li>
    <li><a href="/products/kitchen/" aria-current="page">Kitchen worktops</a></li>
  </ol>
</nav>