---
layout: page.njk
title: Local Navigation
eleventyNavigation:
  key: Local Navigation
  parent: Recipe 11.1
---
<nav aria-label="Contents">
  <ol>
    <li><a href="#company">Company</a></li>
    <li><a href="#licensing">Licensing</a></li>
    <li><a href="#seealso">See Also</a></li>
    <li><a href="#References">References</a></li>
    <li><a href="#externallinks">External links</a></li>
  </ol>
</nav>