---
layout: page.njk
title: Focus Within
eleventyNavigation:
  key: Focus Within
  parent: Recipe 3.1
---
<style>
:is(video, audio):focus-within {
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 0.2);
}
</style>

<video controls src="/assets/media/video.mp4"></video>