---
layout: page.njk
title: Shadow instead of outline
eleventyNavigation:
  key: Shadow instead of outline
  parent: Recipe 3.1
---
<style>
  button {
    border: none;
  }

  :focus-visible {
    --black: #0b0c0c;
    --yellow: #fd0;

    color: var(--black);
    background-color: var(--yellow);
    box-shadow: 0 -2px var(--yellow), 0 4px var(--black);
    outline: 3px solid transparent;
  }
</style>

<button>Button 1</button>
<button>Button 2</button>
<button>Button 3</button>
<button>Button 4</button>
<button>Button 5</button>