---
layout: page.njk
title: Image button
eleventyNavigation:
  key: Image button
  parent: Recipe 2.2
---
<button type="button">
  <img src="/assets/icons/download.svg" alt="Download" width="26">
</button>