---
layout: page.njk
title: Focusable landmark
eleventyNavigation:
  key: Focusable landmark
  parent: Recipe 11.4
---
<div role="region" aria-label="Code Demo" tabindex="0" style="overflow: auto">
  <article>
    …
  </article>
</div>