---
layout: page.njk
title: Labelled section
eleventyNavigation:
  key: Labelled section
  parent: Recipe 11.4
---
<section aria-label="Product Search">
  <!-- Search form/filters -->
  <!-- Search results -->
</section>