---
layout: page.njk
title: Lists
eleventyNavigation:
  key: Lists
  parent: Recipe 11.4
---
<h1>Iced latte</h1>

<p>A refreshing iced latte recipe.</p>

<h2>Ingredients</h2>

<ul>
  <li>2 espresso shots (60ml)</li>
  <li>2 <abbr title="teaspoons">tsp</abbr> sugar or honey</li>
  <li>ice</li>
  <li>110ml milk</li>
</ul>

<h2>Steps</h2>

<ol>
  <li>
    Mix the hot espresso with the sugar.
  </li>
  <li>
    Fill a glass with ice and stir in the coffee.
  </li>
  <li>
    Pour over the milk and stir.
  </li>
</ol>