/*=============================================
  Sections       
  body, article, section, nav, aside, h1 - h6
  hgroup, header, footer, address
=============================================*/

@layer base.default {
  /*----------  <body>  ----------*/

  body {
    background-color: var(--o-site-background);
    color: var(--o-site-color);
    font-family: var(--o-font-family);
    line-height: var(--o-line-height);

    display: grid;
    grid-template-columns: var(--o-layout-columns);
    gap: 1rem;
    align-content: start;
  }

  /*----------  <section>  ----------*/


  section + section {
    margin-block-start: 4.5rem;
  }

  header + section {
    margin-block-start: 2.5rem;
  }

  /*----------  <nav>  ----------*/

  :is(body > header, body :not(article, aside, nav, main, section) header) ul {
    display: flex;
    gap: 1rem;
    justify-content: end;
    list-style-type: "";
    margin: 0;
    padding: 0;
  }

  :is(body > header, body :not(article, aside, nav, main, section) header) a:is(:link, :visited) {
    text-decoration: none;
  }

  :is(body > header, body :not(article, aside, nav, main, section) header) a:is(:hover, [aria-current="page"]) {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
  }



  /*----------  <h1> - <h6>  ----------*/

  h1 {
    font-size: clamp(2.1rem, 1.467rem + 3.913vw, 4rem);
    color: var(--o-h1-color);
    font-family: var(--o-font-family-h1, var(--o-font-family));
  }

  h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
    line-height: 1.1;
  }

  h2 {
    line-height: 1.3;
  }

  h1:has(+ p) {
    margin-block-end: 0;
  }

  h1 + p:has(time) {
    margin-block-start: 0;
    font-size: 0.9em;
  }

  /*----------  hgroup  ----------*/

  hgroup > * {
    margin: 0;
  }

  hgroup p {
    font-size: 1.3rem;
    color: var(--o-highlight-color);
    line-height: 1.1;
    margin-block-start: 0.2rem;
  }

  hgroup p a:is(:link, :visited) {
    color: var(--o-highlight-color);
    text-decoration: none;
  }


  /*----------  Header  ----------*/

  :is(body > header, body :not(article, aside, nav, main, section) header) {
    display: flex;
  }

  :is(body > header, body :not(article, aside, nav, main, section) header) > nav {
    display: flex;
    list-style-type: "";
  }
}
