---
layout: page.njk
title: Links
eleventyNavigation:
  key: Links
  parent: Recipe 1.2
---
<p>
<!-- Link to a pdf -->
<a href="/menu.pdf">
 View our delicious menu (PDF, 1.2MB)
</a>
</p>

<p>
<!-- Download link to a pdf -->
<a href="/report.pdf" download>
 Download the sustainability report 2022 (PDF, 29MB)
</a>
</p>