---
layout: page.njk
title: Custom filename
eleventyNavigation:
  key: Custom filename
  parent: Recipe 1.2
---
<p>
  <a href="/hdj588pwW-1312d-oek92x.xls" download="sales-q1-2023.xls">
    Download sales Q1 2023 (Microsoft Excel, 0.3MB)
  </a>
</p>