---
title: Recipe 11.3
eleventyNavigation:
  key: Recipe 11.3
  parent: Chapter 11
  title: Recipe 11.3 Add interactive elements
layout: recipe.njk
date: 2024-01-03
class: 'list'
tags:
  - chapters
---