---
title: Recipe 8.3
eleventyNavigation:
  key: Recipe 8.3
  parent: Chapter 8
  title: Recipe 8.3 Create a custom disclosure widget
layout: recipe.njk
date: 2024-01-03
class: 'list'
tags:
  - chapters
---