---
layout: page.njk
title: Natural Order
eleventyNavigation:
  key: Natural Order
  parent: Recipe 3.5
---
<style>
  ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }
</style>

<ul>
  <li><a href="#">One</a></li>
  <li><a href="#">Two</a></li>
  <li><a href="#">Three</a></li>
</ul>