---
layout: page.njk
title: Visual Order
eleventyNavigation:
  key: Visual Order
  parent: Recipe 3.5
---
<style>
  ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }

  li:first-child {
    order: 2; 
  }

  li:nth-child(2) {
    order: 3; 
  }

  li:last-child {
    order: 1; 
  }
</style>

<ul>
  <li><a href="#">One</a></li>
  <li><a href="#">Two</a></li>
  <li><a href="#">Three</a></li>
</ul>