---
layout: page.njk
title: DOM Order
eleventyNavigation:
  key: DOM Order
  parent: Recipe 3.5
---
<style>
  ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }
</style>

<ul>
  <li><a href="#" tabindex="2">One</a></li>
  <li><a href="#" tabindex="3">Two</a></li>
  <li><a href="#" tabindex="1">Three</a></li>
</ul>