---
layout: page.njk
title: Focus Visible
eleventyNavigation:
  key: Focus Visible
  parent: Recipe 3.2
---
<style>
  .is-hidden {
    display: none;
  }
</style>

<div class="tabs">
  <h3 id="tablist-1">Election results</h3>
  <div role="tablist" aria-labelledby="tablist-1">
    <button id="tab-1" type="button" role="tab" aria-selected="true" 
            aria-controls="tabpanel-1">
      Graph
    </button>
    <button id="tab-2" type="button" role="tab" aria-selected="false" 
            aria-controls="tabpanel-2" tabindex="-1">
      Table
    </button>
  </div>

  <div id="tabpanel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
    graph content
  </div>
  <div id="tabpanel-2" role="tabpanel" tabindex="-1" aria-labelledby="tab-2" 
       class="is-hidden">
    table content
  </div>
</div>  