---
layout: page.njk
title: Tabindex 3
eleventyNavigation:
  key: Tabindex 3
  parent: Recipe 3.2
---
<style>
  :focus-visible {
    outline: 4px solid #123456;
    outline-offset: 4px;
  }
</style>

<button>Button 1</button>
<button tabindex="1">Button 2</button>
<button>Button 3</button>
<button tabindex="2">Button 4</button>
<button>Button 5</button>