---
layout: sample.njk
title: Manual reset
eleventyNavigation:
  key: Manual reset
  parent: Recipe 4.3
tags:
  - chapters
---
<style>
  .sample button {
    background: none;
    border: none;
    font-family: inherit;
    padding: 0;
  }
</style>

<button type="button">
  Download
</button>