---
title: Recipe 4.3
eleventyNavigation:
  key: Recipe 4.3
  parent: Chapter 4
  title: Recipe 4.3 Remove default button styles
layout: recipe.njk
date: 2024-01-03
class: 'list'
tags:
  - chapters
---