---
layout: page.njk
title: Labelling
eleventyNavigation:
  key: Labelling
  parent: Recipe 5.2
---
<form>
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" autocomplete="username">
  </div>

  <div>
    <label>
      E-Mail
      <input type="email" autocomplete="email">
    </label>
  </div>
</form>