---
layout: sample.njk
title:  Overall instructions
eleventyNavigation:
  key:  Overall instructions
  parent: Recipe 9.3
tags:
  - chapters
---
<ul>
  <li>All fields marked “required” must be completed.</li>
  <li>Dates should all be typed in the format dd.mm.yyyy, (as in 19.05.2021).</li>
  <li>You need a copy of your passport.</li>
</ul>

<form>
  <label for="bday">Birthday (dd.mm.yyyy)</label>
  <input type="text" id="bday" autocomplete="bday"><br>
  …
</form>