---
layout: sample.njk
title:  Inline instructions
eleventyNavigation:
  key:  Inline instructions
  parent: Recipe 9.3
tags:
  - chapters
---
<label for="bday">Birthday (dd.mm.yyyy)</label>
<input type="text" id="bday" autocomplete="bday">