---
layout: sample.njk
title:  Instructions
eleventyNavigation:
  key:  Instructions
  parent: Recipe 9.3
tags:
  - chapters
---
<style>
  p { margin: 0; }
</style>

<label for="password">Password</label>
<p id="password-hint">At least 8 characters, uppercase and lowercase</p>
<input type="text" id="password" autocomplete="new-password" aria-describedby="password-hint">